
<div class="row">
	<div class="col-md-12">
		<div class="well bs-component">
          <form class="form-horizontal ">
              <h1 class="header text-center">Crear Usuairo</h1>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="i5" ng-model="Nombre">
                <span class="help-block">Nombre de la empresa</code></span>
              	<span class="material-input"></span>
              </div>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Email</label>
                <input type="email" class="form-control" id="i5" ng-model="email">
                <span class="help-block">Email de la persona</code></span>
              <span class="material-input"></span>
              </div>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Password</label>
                <input type="password" class="form-control" id="i5" ng-model="password">
                <span class="help-block">Password</code></span>
              <span class="material-input"></span>
              </div>
              <div class="form-group label-floating">
                <label for="t1" class="control-label">Descripción de lo que sabe hacer</label>
                <textarea id="t1" class="form-control" ng-model="Descripcion"></textarea>
              <span class="material-input"></span></div>
          </form>
        <button class="btn btn-raised btn-info" ng-click="createUser()">Crear una Usuario</button>
	</div>
</div>
