<div class="row">
    <div class="col-md-12">
        <div class="well bs-component">
          <form class="form-horizontal ">
              <h1 class="header text-center">Editar Empresa</h1>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Nombre</label>
                <input  class="form-control" id="i5" ng-model="Nombre">
                <span class="help-block">Nombre de la empresa</code></span>
                <span class="material-input"></span>
              </div>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Jefe</label>
                <input  class="form-control" id="i5" ng-model="Jefe">
                <span class="help-block">Dueño/Encargado de la empresa</code></span>
              <span class="material-input"></span>
              </div>
              <div class="form-group label-floating is-empty">
                <label for="i5" class="control-label">Email</label>
                <input  class="form-control" id="i5" ng-model="Correo">
                <span class="help-block">Email de la empresa</code></span>
                <span class="material-input"></span>
              </div>
              <div class="form-group label-floating">
                <label for="t1" class="control-label">Descripción</label>
                <textarea id="t1" class="form-control" ng-model="Descripcion"></textarea>
              <span class="material-input" ></span></div>
          </form>
        <button class="btn btn-raised btn-info" ng-click="Agregar()">Editar empresa</button>
    </div>
</div>
