<table class="table">
  <thead>
    <th>Nombre</th>
    <th>Jefe</th>
    <th>Correo</th>
    <th>Descripcion</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr ng-repeat="empresa in vm.empresa">
      <td>{{empresa.Nombre}}</td>
      <td>{{empresa.Jefe}}</td>
      <td>{{empresa.Correo}}</td>
      <td>{{empresa.Descripcion}}</td>
      

      <td>
        <a ng-href="/#/editarempresa/{{empresa.$id}}" >Edit</a>
      </t>
      <td>
        <a ng-click="vm.deleteEmpresa(empresa.$id)">Remove</a>
      </td>
    </tr>
  </tbody>
</table>







